# Sports dataset Random Forest

In [3]:
# Load the packages we will need for the calculations, the machine learning model we will use,
# and for printing the classification tree.

print("Machine Learning with the Iris Dataset.\nLoading packages...")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

#from numba import jit, cuda
print("Finished.")

Machine Learning with the Iris Dataset.
Loading packages...
Finished.

In [4]:
# Load the sports data.  The data is in the sports.csv file, which should be in the directory (folder) of 
# this Jupyter Notebook.  The data is loaded into a Python dataframe we will call df.  Print information
# about the data; i.e., size, dimensions, et., so we can understand the volume, the number of rows (instances) 
# and columns (features) with which we are working.

df = pd.read_csv('C:\\Users\\n\\Downloads\\sports.csv')

# dataframe.size
size = df.size
# dataframe.shape
shape = df.shape
# dataframe.ndim
df_ndim = df.ndim
# printing size and shape
print("Size = {}\nShape ={}".
format(size, shape))

Size = 29796
Shape =(2292, 13)

In [14]:
#  What does our data set look like?
df.head(8)

,test_size = 0.1,pads,outside,goalpost,net,bases,largeball,spheroid,glove,stick,players,gender,sport
0,NaN,1,1,1,0,0,1,1,0,0,11,1,football
1,Training dataframe: 90.0% of the dataset (Numb...,0,1,1,0,0,1,1,0,0,15,1,rugby
2,Testing dataframe: 10.0% of the dataset (Numbe...,1,1,0,1,0,0,0,1,1,10,1,lacrosse
3,0,0,1,0,0,1,0,0,1,1,9,1,baseball
4,0,0,1,0,0,1,1,0,1,1,9,0,softball
5,0,0,0,0,1,0,1,0,0,0,5,1,basketball
6,0,0,1,0,1,0,0,0,0,1,11,0,field hockey
7,0,0,1,0,1,0,1,0,0,0,11,1,soccer

In [6]:
# This section Get the data features.

features = df.columns
features = features[0:13]
#Prints the features of the Dataset 

print(features)

Index(['test_size = 0.1', 'pads', 'outside', 'goalpost', 'net', 'bases',
       'largeball', 'spheroid', 'glove', 'stick', 'players', 'gender',
       'sport'],
      dtype='object')

In [7]:
# Get the classes of the data.

dclass = df['sport']
dclass = dclass.unique()
print(dclass)

['football' 'rugby' 'lacrosse' 'baseball' 'softball' 'basketball'
 'field hockey' 'soccer']

In [8]:
#  Note the feature "gender" that is M or F.  We must change that to a numeric value.  This is an example 
# of one-hot encoding for a single binary condition.  Thus, we can change M and F to 0 and 1 (or 1 and 0) 
# and achieve what we need to train our model.  We can do that, in this case, with the following   blocks 
# of Python code.  First step, create dummy variables for our MF entries:

df.gender.replace(['M', 'F'], [1, 0], inplace=True)

# And let's see what it gives us.

df.head(8)

,test_size = 0.1,pads,outside,goalpost,net,bases,largeball,spheroid,glove,stick,players,gender,sport
0,NaN,1,1,1,0,0,1,1,0,0,11,1,football
1,Training dataframe: 90.0% of the dataset (Numb...,0,1,1,0,0,1,1,0,0,15,1,rugby
2,Testing dataframe: 10.0% of the dataset (Numbe...,1,1,0,1,0,0,0,1,1,10,1,lacrosse
3,0,0,1,0,0,1,0,0,1,1,9,1,baseball
4,0,0,1,0,0,1,1,0,1,1,9,0,softball
5,0,0,0,0,1,0,1,0,0,0,5,1,basketball
6,0,0,1,0,1,0,0,0,0,1,11,0,field hockey
7,0,0,1,0,1,0,1,0,0,0,11,1,soccer

In [9]:
data_points = df.iloc[:, 1:12]
labels = df.iloc[:, 12]
print(labels)

0           football
1              rugby
2           lacrosse
3           baseball
4           softball
            ...
2287        baseball
2288        softball
2289      basketball
2290    field hockey
2291          soccer
Name: sport, Length: 2292, dtype: object

In [10]:
# Where the data is split into training and testing data.  Change test_size variable to change the percentage
# of all the data will be used for testing the model.  Typical test percentages range from 20% (0.2) to 40% (0.4)
# but you may select any percentage from 1% (0.01) to 99% (0.99), though those aren't realistic and will 
# render fairly useless results.  The training data percentage is the remainder of the data; that is, is you
# choose 30% (0.3) for testing, the model will be trained using 70% (0.7) of the data set.

print("Split into train and test data...")
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(data_points, labels, test_size = 0.2)
print("Train:")
print(X_train)
print(y_train)
print("Test:")
print(X_test)
print(y_test)

Split into train and test data...
Train:
      pads  outside  goalpost  net  bases  largeball  spheroid  glove  stick  \
1005     0        1         0    0      1          0         0      1      1
744      0        1         0    0      1          1         0      1      1
1874     0        1         0    0      1          1         0      1      1
2187     0        1         0    1      0          1         0      0      0
1673     1        1         0    1      0          0         0      1      1
...    ...      ...       ...  ...    ...        ...       ...    ...    ...
1160     0        1         0    1      0          0         0      0      1
268      0        0         0    1      0          1         0      0      0
806      1        1         0    1      0          0         0      1      1
707      0        1         0    1      0          0         0      0      1
1679     1        1         1    0      0          1         1      0      0

      players  gender
1005        9       1
744         9       0
1874        9       0
2187       11       0
1673       10       1
...       ...     ...
1160       11       0
268         5       0
806        10       1
707        11       0
1679       11       1

[1833 rows x 11 columns]
1005        baseball
744         softball
1874        softball
2187          soccer
1673        lacrosse
            ...
1160    field hockey
268       basketball
806         lacrosse
707     field hockey
1679        football
Name: sport, Length: 1833, dtype: object
Test:
      pads  outside  goalpost  net  bases  largeball  spheroid  glove  stick  \
592      0        1         0    0      1          0         0      1      1
1026     1        1         1    0      0          1         1      1      0
1030     0        1         0    0      1          1         0      1      1
414      1        1         1    0      0          1         1      0      0
1964     0        1         0    1      0          0         0      0      1
...    ...      ...       ...  ...    ...        ...       ...    ...    ...
763      0        1         0    1      0          1         0      0      0
18       1        1         0    1      0          0         0      1      1
1107     0        1         1    0      0          1         1      0      0
218      0        1         0    0      1          0         0      1      1
2288     0        1         0    0      1          1         0      1      1

      players  gender
592         9       1
1026       11       1
1030        9       0
414        11       1
1964       11       0
...       ...     ...
763        11       1
18         10       1
1107       15       1
218         9       1
2288        9       0

[459 rows x 11 columns]
592         baseball
1026        football
1030        softball
414         football
1964    field hockey
            ...
763           soccer
18          lacrosse
1107           rugby
218         baseball
2288        softball
Name: sport, Length: 459, dtype: object

In [11]:
print("Train the Random Forest with the training data.")

starting_time = time.time()
print("Process started...")

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=20, max_depth =None)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

print("Process ended...")
ending_time = time.time()
print('Time to train model: {:.4f}'.format(ending_time - starting_time),'seconds.')

Train the Random Forest with the training data.
Process started...
Process ended...
Time to train model: 0.3288 seconds.

In [12]:
# Model Accuracy, how often is the classifier correct?
print('Training data accuracy {:.2f}'.format(clf.score(X_train, y_train)*100),'%')
print('Testing data accuracy {:.2f}'.format(clf.score(X_test, y_test)*100),'%')

Training data accuracy 100.00 %
Testing data accuracy 100.00 %

In [13]:
#THE END